*{
    box-sizing: border-box;
}

header {
    margin-left: 250px;
    font-size: 20px;
}
div{
    padding: 5px;
}

.mainContainer{
    width: 100%;
    overflow: hidden;
}

.leftMenu{
    float: left;
}
.rightMenu {
    float : right;
}

.leftMenu{
    width: 25%;
}

.rightMenu{
    width:75%;
}

.note-info{
    display: flex;
    flex-direction: column;
}
